*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
::selection{
    background: #ffd43b;
    color: #001c40;
}
body{
    width: 100%;
    height: 100%;
    background: #001c40;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 80px;
    background: #001c40;
    border-bottom: 1px solid #000;
    -webkit-display:flex;
    -moz-display:flex;
    -o-display:flex;
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 1;
}
.logoIcon{
    width: 5%;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -o-display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    transition: .5s ease;
}
#music-icon{
    font-size: 35px;
    color: #ffd43b;
    transition: .4s ease; 
}
.logoIcon:hover{
    transform: rotate(360deg);
}

.logo{
    width: 15%;
}
h1{
    color: #ffd43b;
    font-family: sans-serif;
    font-weight: 800;
    font-style: italic;
    margin-left: 5%;
}
.navbar{
    width: 56%;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -o-display:flex;
    justify-content: flex-end;
    margin-left: 11%;
    transition: .3s ease-in-out;
}
.nav-link{
    margin-right: 45px;
    color: white;
    font-size: 19px;
    font-weight: 500;
    transition: .3s linear;
}
.nav-link:hover{
    color: #ffd43b;
    text-decoration: underline;
}
/* toggle button */
.menu-toggle{
    width: 4%;
    color: #ffd43b;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 88%;
    display: none;
} 
/* The responsiveness for mobile and tablet devices */
@media (max-width: 650px){
    .navbar .nav-link{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    h1{
        font-size: 25px;
        margin-left: 35%;
        text-align: center;
    }
    /* This class is not in our html, we will add it in javascript. */
    .active{
        width: 100%;
        height: 210px;
        background:#ffd43b;
        position: absolute;
        top: 80px;
        right: 0;
        display: block;
        z-index: 1;
        border-bottom: 1px solid #000;
        padding: 0;
    }
    .active .nav-link{
        text-align: center;
        display: block;
        margin: 15px 0;
        color: #001c40;
        font-size: 21px;
    }
    .nav-link:hover{
        color: #001c40;
        text-decoration: underline;
    }
}
/* Home Section */
.Home{
    width: 100%;
    height: 40rem;
    background-image: url(Images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 1px solid #000; 
}
.content{
    width: 100%;
    height: 290px;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -o-display:flex;
    justify-content: center;
    margin-bottom: 35%;
}
.title{
    color: #ffd43b;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 90px;
    text-transform: uppercase;
    padding-top: 5%;
    padding-left: 2%;  
    animation: animate 3.3s;  
}
.text{
    width: 50%;
    height: 200px;
    position: absolute;
    top: 48%;
    left: 6%;
    padding: 1%;
    animation: animate 3.3s; 
}
p{
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
    z-index: -1;
}
.Homebtn{
    padding: 16px 31px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background: #ffd43b;
    color: #001c40;
    transition: .4s ease;
    margin-top: 70px;
}
.Homebtn:hover{
    background: #001c40;
    color: #ffd43b;
    border: 1px solid white;
}
/* some media querries for handling the responsiveness */
@media (min-width: 1200px){
    .title{
        padding-left: 1%;
    }
    .text{
        left: 6%;
        top: 50%;
    }
}
@media (min-width: 1450px){
    .text{
        left: 6%;
        top: 49%;
    }
}
@media (min-width: 1520px){
    .text{
        left:10%;
        top: 47%;
    }
}
/* for tablets and mobile devices */
@media (max-width: 850px){
    .title{
        font-size: 50px;
        padding-left: 20px;
    }
    .text{
        top: 40%;
    }
}
@media (max-width: 651px){
    .title{
        font-size: 40px;
        padding: 10px;
        margin-right: 33%;
    }
    .text{
        margin-left: 20%;
    }
}
@media (max-width: 520px){
    .text{
        width: 100%;
        margin-right: 10%;
        top: 39%;
        width: 100%;
        left: 0;
    }
    p{
        padding-right: 110px;
    }
    .Homebtn{
        margin-top: 25px;
    }
}
@media (max-width:380px){
    .text{
        top: 45%;
    }
}
@media screen and (max-height:550px){
    .title{
        font-size: 30px;
        padding: 20px;
        margin-right: 33%;
    }
    .text{
        top: 55%;
    }
}

/* About Section */
.About{
    width: 100%;
    height: 450px;
}
.Aboutitle{
    text-align: center;
    padding-top: 3%;
    padding-right: 3%;
    color: white;
    font-family: sans-serif;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 3%;
}
.Aboutcontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.txtcontent{
    background: #ffd43b;
    height: 250px;
    margin-top: 3%;
    margin: 20px;
    margin-left: 20px;
    border-radius: 10px;
}
.pragraph{
    animation: animate 3.8s;
    transition: .4s ease;
}
#txt{
    color: #001c40;
    padding: 20px 30px;
    font-size: 17px;
    padding-top: 20px;
}
#txt::selection{
    color: #ffd43b;
    background: #001c40;
}
.image{
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -o-display:flex;
    align-items: center;
    justify-content: center;
    margin: 20px 25px;
    transition: .5s ease;
}
/* animation for the About section */
.paragraph{
    animation: animate 4s;
    transition: .4s ease;
}
.studio{
    animation: animate 4s;
    transition: .4s ease;
}
@keyframes animate{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.pic{
    width: 49%;
    height: 260px;
    border-radius: 50%;
    border: 4px solid #ffd43b; 
}
/* Media querries for the about section */
@media (min-width:1200px){
    #txt{
        padding-top: 75px;
    }
}
@media (max-width:800px){
    .About{
        height: 580px;
    }
    #txt{
        padding-top: 8px;
    }
    .pic{
        width: 55%;
    }
}
@media (max-width:700px){
    .Aboutcontent{
        grid-template-columns: 1fr;
    }
    #txt{
        padding-top: 30px;
    }
    .pic{
        height: 150px;
        padding: 10px;
        border: none;
    }
}
@media (max-width:650px){
    .Aboutitle{
        text-align: center;
        margin-right: 29%;
    }
}

/* Services section */
.services{
    width: 100%;
    height: 30%;
}
#servicetitle{
    text-align: center;
    color: #ffd43b;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 3%;
    padding-left: 0%;  
    animation: animate 3.3s;
    margin-top: 10%;
    margin-bottom: 5%;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.service{
    width: 25%;
    height: 50%;
    margin: 1% 4%;
    margin-bottom: 5%;
}
#serviceimg{
    width: 90%;
    height: 250px;
    padding: 30px;
    border-radius: 50%;
    margin-left: 5%;
    transition: .3s ease;
    border: #ffd43b 1px solid;
}
#serviceimg:hover{
    border: none;
    transform: scale(1.1);
}
#headline{
    text-align: center;
    padding-top: 3%;
    color: #ffd43b;
    font-size: 30px;
    font-family: sans-serif;
}
#servparagraph{
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

@media (max-width : 900px){
    .container{
        flex-direction: column;
    }
    .service{
        width: 60%;
    }
}
@media (max-width : 655px){
    #servicetitle{
        padding-right: 35%;
    }
}
@media (max-width : 600px){
    .service{
        width: 91%;
    }
}
@media (max-width:450px){
    #servicetitle{
        font-size: 27px;
        text-decoration: underline;
    }
}













